<nav>
    <a href="{{ '/market.html' | relative_url }}">Market Updates</a>
    <a href="{{ '/index.html' | relative_url }}">Home</a>
    <a href="{{ '/projects.html' | relative_url }}">Projects</a>
    <a href="{{ '/tutorials.html' | relative_url }}">Tutorials</a>
    <a href="{{ '/Papers.html' | relative_url }}">Papers</a>
    <a href="{{ '/contact.html' | relative_url }}">Contact</a>
    <a href="{{ '/about.html' | relative_url }}">About</a>
    <a href="{{ '/privacy.html' | relative_url }}">Privacy</a>
    <a href="{{ '/terms.html' | relative_url }}">Terms</a>
</nav>